body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.button{
    background-color:grey;
    outline:0;
    border:0;
    height:30px;
    width: 30px;
    margin:5px;
    font-size: 15px;
}

.container{
    background-color: black;
    
}

#display{
    height:50px;
    font-size: 20px;
    text-align: right;
    
}